.Rproj.user
.Rhistory
.RData
.Ruserdata
data/OSE_Gauges/NM2015_Gauges_OSE.cpg
data/OSE_Gauges/NM2015_Gauges_OSE.dbf
data/OSE_Gauges/NM2015_Gauges_OSE.prj
data/OSE_Gauges/NM2015_Gauges_OSE.sbn
data/OSE_Gauges/NM2015_Gauges_OSE.sbx
data/OSE_Gauges/NM2015_Gauges_OSE.shp
data/OSE_Gauges/NM2015_Gauges_OSE.shp.xml
data/OSE_Gauges/NM2015_Gauges_OSE.shx
